<html>
	<head>
		<link rel="stylesheet" href="assets/app.css">
		<script src="/assets/htmx.js" ></script>
		<script src="/assets/multi-swap.js" ></script>
	</head>

	<body onload="openWS" hx-ext="multi-swap" class="bg-primary text-night">
		<main class="flex w-full">
			<div hx-get="/comp/sidebar" hx-trigger="load">
				<div class="htmx-indicator text-night w-full text-center my-4">Loading sidebar...</div>
			</div>
	
			<div class="bg-primary flex-grow w-full" hx-get="/comp/transactions" hx-trigger="load">
				<div class="htmx-indicator text-night w-full text-center my-4">Loading transactions...</div>
			</div>

		</main>

	</body>

	<script>
	// This code is for auto refresh on server reload
	
	const openWS = () => {
		// Create a new WebSocket connection
		let socket = new WebSocket('http://localhost:8080/ws');

		// Event listener for successful connection
		socket.onopen = function(event) {
			console.log('WebSocket connection established.');
		};

		// Event listener for incoming messages
		socket.onmessage = function(event) {
			console.log('Message received from server:', event.data);
		};

		// Event listener for connection errors
		socket.onerror = function(error) {
			console.error('WebSocket error:', error);
		};

		// Event listener for connection close
		socket.onclose = function(event) {
			console.log('WebSocket connection closed:', event);

			// Refresh the window if the WebSocket connection is lost
			if (!event.wasClean) {
				console.log('Connection lost. Refreshing the page...');
				setTimeout(function() {
					window.location.reload();
				}, 2000); 
			}
		}

		console.info("websocket loaded")
	}

	window.addEventListener('load', openWS)
	</script>
</html>
