<html>
	<head>
		<link rel="stylesheet" href="assets/app.css">
		
	</head>

	<body>
		<main class="flex w-full">
			{{ template "sidebar.tmpl" .Sidebar }}
	
			<div class="bg-gray-900 flex-grow">
				{{ template "transactions.tmpl" .Table }}
			</div>
		
		</main>

	</body>
</html>
