<aside class="flex" id="sidebar">
    <div class="flex flex-col items-center w-16 h-screen py-8 space-y-8 bg-primary text-night">
        <a href="#">
			{{ IncludeIcon "dollar.svg" }}
        </a>

		{{ range $i, $p := .Pages }}
			{{ if eq $i $.Selected }}
			<a href="#" class="p-1.5 focus:outline-nones transition-colors duration-200 rounded-lg bg-secondary">
				{{ IncludeIcon $p.Icon }}
			</a>
			{{ else }}
			<a href="#" class="p-1.5 focus:outline-nones transition-colors duration-200 rounded-lg hover:bg-secondary">
				{{ IncludeIcon $p.Icon }}
			</a>
			{{ end }}
		{{ end }}

    </div>
    
    <div class="h-screen py-8 overflow-y-auto border-l border-r border-secondary sm:w-64 w-60 bg-seasalt">
        <h2 class="px-5 text-lg font-medium text-night">{{ (index .Pages .Selected).Name }}</h2>
        
        <div class="mt-8">
			{{ range $i, $v := .Menus }}
				{{ if eq $i $.SelectedMenu }}
				<button 
					id="menu-{{$i}}"
					class="flex items-center w-full px-5 py-2 transition-colors duration-200 bg-secondary">
				{{ else }}
				<button 
					id="menu-{{$i}}"
					class="flex items-center w-full px-5 py-2 transition-colors duration-200 hover:bg-secondary"
					hx-post="/comp/sidebar/menu/select/{{ $i }}"
					hx-trigger="click"
					hx-target="#sidebar"
					hx-swap="outerHTML"
				>

				{{ end }}
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
				
					<div class="text-left rtl:text-right flex-grow pl-2">
						<h1 class="text-sm font-medium capitalize">{{ .Title }}</h1>
						<p class="text-xs">{{ .Subtitle }}</p>
					</div>
				</button>
			{{ end }}
        </div>
    </div>
</aside>
