<div class="overflow-x-auto flex-grow">
	<table class="w-full text-sm text-left ">
		<thead class="text-xs uppercase bg-primary">
			<tr>
				{{ range .Headers }}
					<th scope="col" class="px-4 py-3">{{ .Name }}</th>
				{{ end }}
				<th scope="col" class="px-4 py-3">
					<span class="sr-only">Actions</span>
				</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Rows }}
				<tr class="border-b border-b-night">
					{{ range .Data }}
						{{ if .Bold }}
							<td class="px-4 py-3 font-medium">{{ .Value }}</td>
						{{ else }}
							<td class="px-4 py-3">{{ .Value }}</td>
						{{ end }}
					{{ end }}

					<td class="px-4 py-3 flex items-center justify-end">
						<button id="apple-imac-27-dropdown-button" data-dropdown-toggle="apple-imac-27-dropdown" class="inline-flex items-center p-0.5 text-sm font-medium text-center rounded-lg text-night-800 hover:text-night" type="button">
							<svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
							</svg>
						</button>
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
</div>
