<div class="overflow-x-auto flex-grow">
	<table class="w-full text-sm text-left ">
		<thead class="text-xs uppercase bg-primary">
			<tr>
				{{ range .Headers }}
					<th scope="col" class="px-4 py-3">{{ .Name }}</th>
				{{ end }}
				<th scope="col" class="px-4 py-3">
					<span class="sr-only">Actions</span>
				</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Rows }}
				<tr class="border-b border-b-night">
					{{ range .Data }}
						{{ if .Bold }}
							<td class="px-4 py-3 font-medium">{{ .Value }}</td>
						{{ else }}
							<td class="px-4 py-3">{{ .Value }}</td>
						{{ end }}
					{{ end }}

					<td class="px-4 py-3 flex items-center justify-end">
						<button 
							class="inline-flex items-center py-0.5 transition-colors px-2 text-sm font-medium text-center rounded-lg text-poppy border-poppy border bg-secondary hover:bg-poppy hover:text-primary"
							type="button"
							hx-delete="{{ .DeleteUrl }}"
							hx-target="closest tr"
							hx-trigger="click"
						>
							Delete
						</button>
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
</div>
