<section class="px-4 py-4 mx-auto w-full h-full flex flex-col" id="transactions">
    <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium">{{ .Title }}</h2>

        <span class="px-3 py-1 text-xs rounded-full bg-night text-secondary">{{ .Subtitle }}</span>
    </div>

    <div class="mt-4 flex-grow">
		<div class="flex flex-col h-full relative shadow-lg sm:rounded-lg overflow-hidden bg-secondary">
			{{ template "transaction_header" . }}

			{{ template "table" .Table }}
	
		</div>
    </div>
</section>
