<div class="flex flex-col md:flex-row items-center justify-between p-4 text-night">

	<div class="w-full md:w-1/2">
		<form class="flex items-center m-0">

			<label for="simple-search" class="sr-only">Search</label>
			<div class="relative flex-grow">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-night">
					{{ IncludeIcon "search.svg" }}
				</div>
				<input type="text" id="simple-search" class="border bg-primary border-secondary text-night placeholder-night text-sm rounded-lg block w-full pl-10 p-2 outline-none" placeholder="Search" required="">
			</div>
		</form>
	</div>

	<div class="flex-grow flex justify-end">
		<button 
			hx-get="/comp/modal/transaction/add"
			hx-trigger="click"
			hx-target="#add-product-modal"
			hx-swap="outerHTML"
			
			type="button"
			class="flex items-center gap-1 font-medium rounded-lg text-sm px-4 py-2">

			{{ IncludeIcon "plus.svg" }}

			<span>
			Add transaction
			</span>
		</button>
	</div>

	<div id="add-product-modal" class="absolute top-0 left-0">
	</div>

</div>
