<div id="add-product-modal" class="fixed top-0 left-0 w-screen h-screen bg-black/50 m-0 flex justify-center items-center ">
	<div class="w-1/3 bg-primary p-8 rounded-lg">
		<div class="w-full text-center mb-4 text-lg font-medium">
			Add Transaction
		</div>

		<form 
			class="flex flex-col gap-2 w-full text-night placeholder-night-600 m-0" 
			hx-post="/comp/modal/transaction/add"
			hx-swap="outerHTML"
			hx-target="#transactions"
		>
			<div class="w-full">
				<input id="name" type="text" placeholder="Name" name="name"
					class="px-2 py-1 rounded-md outline-black outline-1 w-full border-night border-2" />
			</div>
			<div class="w-full">
				<input id="date" type="date" placeholder="Date" name="date"
					class="px-2 py-1 rounded-md outline-black outline-1 w-full border-night border-2" />
			</div>
			<div class="w-full">
				<input id="amount" type="number" step="0.01" placeholder="Amount" name="amount"
					class="px-2 py-1 rounded-md outline-black outline-1 w-full border-night border-2"/>
			</div>
				
			<div class="w-full flex justify-between gap-2">
				<button type="submit" class="px-4 py-2 rounded-md text-night bg-primary border-2 border-night transition-colors hover:bg-night hover:text-primary flex-grow">
					Add
				</button>

				<button 
					hx-get="/comp/modal/empty/add-product-modal"
					hx-trigger="click"
					hx-target="#add-product-modal"
					hw-swap="outerHTML"
					type="button"
					class="px-4 py-2 rounded-md text-night bg-primary border-2 border-poppy transition-colors hover:bg-poppy hover:text-primary flex-grow"
				>
					Cancel
				</button>
			</div>
		</form>
	</div>
</div>
